<%= form_for @transaction do |f| %>
	<div class="col-xs-6 transaction">
		<div class="panel panel-default">
			<div class="panel-heading mx-auto">
				<h3 class="panel-title text-muted"><%= Game.to_s.pluralize.capitalize %></h3>
			</div>

			<div class="panel-body">
				<% @games.each do |game| %>
					<%= link_to_add_fields game.name.capitalize, f, :plays, game.id %>
				<% end %>	
			</div>
		</div>
	</div>	

	<div class="col-xs-6 transaction">
		<div class="panel panel-default">
			<div class="panel-heading mx-auto text-muted">
				<h3 class="panel-title"><%= Edible.to_s.pluralize.capitalize %></h3>
			</div>

			<div class="panel-body">
				<% @edibles.each do |edible| %>
					<%= link_to_add_fields edible.name.capitalize, f, :consumes, edible.id %>
				<% end %>
			</div>

		</div>
	</div>	
	
	<div class="row col-xs-8 transaction">
		<%= f.submit 'submit', class: "btn btn-success" %>
	</div>
<% end %>